DB_MODO=externo
DB_HOST=host.docker.internal
DB_PORT=5432
DB_NOMBRE=apexstore
DB_USUARIO=mi_usuario
DB_PASSWORD=cambiar_esto
DB_ESQUEMA=apexstore
DB_SSLMODE=disable
DB_POOL_MAX=20
DB_CREAR_BASE_SI_NO_EXISTE=true
MIGRAR_AL_INICIAR=true
SEMBRAR_DATOS_DEMO=true
DB_ESPERA_MAX_SEG=60
ICE_NODO3_HOST=nodo3
ICE_NODO3_PORT=10000
ICE_CALLBACK_HOST=nodo2
ICE_CALLBACK_PORT=10001
MODO_DESARROLLO=true
SECRETO_FIRMA_SIMULACION=desarrollo-apexstore-no-usar-en-produccion
CALLBACK_REINTENTOS=3
HTTP_HILOS_MAX=128
RECONCILIAR_CADA_SEG=10
